@using HajurKoCarRental.Areas.Identity.Data;
    
@model IEnumerable<(HajurKoCarRentalUser User, IList<string> Roles)>

<h1>Staff Members</h1>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staffMember in Model)
        {
            <tr>
                <td>@staffMember.User.Email</td>
                <td>@staffMember.User.FullName</td>
                <td>@staffMember.User.Address</td>
                <td>@staffMember.User.PhoneNumber</td>
                <td>
                    @foreach (var role in staffMember.Roles)
                    {
                        <span>@role</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@staffMember.User.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@staffMember.User.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add Staff Member</a>
