@model IEnumerable<HajurKoCarRental.Models.CarDamage>

@{
	ViewData["Title"] = "Index";
}


<section class="bg0 p-t-23 p-b-140 mt-5">



	<div class="row m-b-15">
		<div class="col-10">
			<h4 class="ltext-103 cl5 text-dark ">
				DAMAGED CARS
			</h4>
		</div>
		<div class="col-2">
			<button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Create")'">ADD DAMAGED CAR</button>
		</div>
	</div>



	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
					@Html.DisplayNameFor(model => model.description)
				</th>
				<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
					@Html.DisplayNameFor(model => model.charge)
				</th>
				<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
					@Html.DisplayNameFor(model => model.IsPaid)
				</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="text-xs font-weight-bold mb-0">
						@Html.DisplayFor(modelItem => item.description)
					</td>
					<td class="text-xs font-weight-bold mb-0">
						@if (item.charge == null)
						{
							<span>Pending</span>
						}
						else
						{
							@Html.DisplayFor(modelItem => item.charge)
						}
					</td>
					<td class="text-xs font-weight-bold mb-0">
						@if (item.IsPaid == false)
						{
							<span>Pending</span>
						}
						else
						{
							<span>Paid</span>
						}
					</td>

					<td class="text-xs font-weight-bold mb-0">
						@if (!item.IsPaid)
						{
							<a asp-action="Paid" asp-route-id="@item.id" class="btn btn-primary">Mark as Paid</a>
						}
						<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.id">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.id">Delete</a>
					</td>
				</tr>
			}
		</tbody>

	</table>


</section>