@model IEnumerable<HajurKoCarRental.Models.Rental>

@{
	ViewData["Title"] = "Index";
}

@*<h1 class="container">MANAGE THE RENTS</h1>*@


<link rel="stylesheet" href="~/css/CRUD.css" asp-append-version="true" />

@*<p>
    <button type="button" class="btn btn-sucess" onclick="location.href='@Url.Action("Create")'">ADD NEW REQUEST</button>
</p>*@

<section class="bg0 p-t-23 p-b-140 mt-5">

	<div class="p-b-10">
		<div class="row m-b-15">
			<div class="col-10">
				<h4 class="ltext-103 cl5 text-dark ">
					MANAGE THE RENTS
				</h4>
			</div>
			<div class="col-2">
				<button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Create")'">ADD NEW REQUEST</button>
			</div>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
						@Html.DisplayNameFor(model => model.UserID)
					</th>
					<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
						@Html.DisplayNameFor(model => model.AuthorizedBy)
					</th>
					<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
						@Html.DisplayNameFor(model => model.date)
					</th>
					<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
						@Html.DisplayNameFor(model => model.Fee)
					</th>
					<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
						@Html.DisplayNameFor(model => model.RentalStatus)
					</th>
					<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
						@Html.DisplayNameFor(model => model.CarInfo)
					</th>
					<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
						@Html.DisplayNameFor(model => model.CreatedAt)
					</th>
					<th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
						Actions
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="text-xs font-weight-bold mb-0">
							@Html.DisplayFor(modelItem => item.UserID)
						</td>
						<td class="text-xs font-weight-bold mb-0">
							@Html.DisplayFor(modelItem => item.AuthorizedBy)
						</td>
						<td class="text-xs font-weight-bold mb-0">
							@Html.DisplayFor(modelItem => item.date)
						</td>
						<td class="text-xs font-weight-bold mb-0">
							@Html.DisplayFor(modelItem => item.Fee)
						</td>
						<td class="text-xs font-weight-bold mb-0">
							@if (item.RentalStatus == 0)
							{

								<span>Requested</span>
							}
							else if (item.RentalStatus == 1)
							{

								<span>Approved</span>
							}
							else if (item.RentalStatus == 2)
							{

								<span>Returned</span>
							}

						</td>


						<td class="text-xs font-weight-bold mb-0">
							@Html.DisplayFor(modelItem => item.CarInfo.CarName)
						</td>
						<td class="text-xs font-weight-bold mb-0">
							@Html.DisplayFor(modelItem => item.CreatedAt)
						</td>
						<td class="text-xs font-weight-bold mb-0">
							@if (item.RentalStatus == 0)
							{
								<a asp-action="AcceptRequest" asp-route-id="@item.Id">Accept Request</a>
							}
							else if (item.RentalStatus == 1)
							{
								<a asp-action="ReturnRent" asp-route-id="@item.Id">Return Rent</a>
							}
							<a class="btn btn-dark" role="button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
							<a class="btn btn-dark" role="button" asp-action="Details" asp-route-id="@item.Id">Details</a>
							<a class="btn btn-dark" role="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
</section>
