@model IEnumerable<HajurKoCarRental.Models.Offer>

@{
    ViewData["Title"] = "Index";
}



<section class="bg0 p-t-23 p-b-140 mt-5">
    <div class="row m-b-15">
        <div class="col-10">
            <h4 class="ltext-103 cl5 text-dark ">
                HamroCarRental Offers
            </h4>
        </div>
        <div class="col-2">
            @if (!User.IsInRole(UserRoles.Customer))
            {

                <a class="btn btn-dark" type="button" asp-action="Create">Create New Offer</a>

            }
        </div>
    </div>



    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
                    @Html.DisplayNameFor(model => model.CarInfo.CarName)
                </th>
                <th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
                    Discount Amount
                </th>
                <th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th class="text-uppercase text-secondary text-xxx font-weight-bolder opacity-10">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @*var value = @Html.DisplayFor(modelItem => item.is_available);*@
                <tr>

                    <td class="text-xs font-weight-bold mb-0">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="text-xs font-weight-bold mb-0">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-xs font-weight-bold mb-0">
                        @Html.DisplayFor(modelItem => item.CarInfo.CarName)
                    </td>
                    <td class="text-xs font-weight-bold mb-0">
                        Rs. @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td class="text-xs font-weight-bold mb-0">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td class="text-xs font-weight-bold mb-0">
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>





                    <td>
                        @if (!User.IsInRole(UserRoles.Customer))
                        {

                            <a class="btn btn-dark" role="button" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                        }
                        <a class="btn btn-dark" role="button" asp-action="Details" asp-route-id="@item.id">Details</a>
                        @if (!User.IsInRole(UserRoles.Customer))
                        {
                            <a class="btn btn-dark" role="button" asp-action="Delete" asp-route-id="@item.id">Delete</a>

                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>


</section>