@model IEnumerable<HajurKoCarRental.Models.ViewModel.HomeCar>




@{
    ViewData["Title"] = "Index";
}


@section AddCustomScripts{
    <script>
        function changeAvailability(availability) {
            document.getElementById("stockAvailability").value = availability;
            document.getElementById("PostIndexForm").submit();
        }

        function changePrice(price) {
            document.getElementById("sortingOrderCol").value = price;
            document.getElementById("PostIndexForm").submit();
        }

    </script>

}


<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(https://advertising.expedia.com/wp-content/uploads/2020/08/Car-Hero_1920x800.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl4 respon2 text-dark">
                                Our Car Collections
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="800">
                            <h2 class="ltext-201 cl4 p-t-19 p-b-43 respon1">
                                Available Now
                            </h2>
                        </div>
                        @*<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                        <a href="" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                        Scroll down for more
                        </a>
                        </div>*@

                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(https://image.kkday.com/v2/image/get/w_1900%2Cc_fit/s1.kkday.com/product_120385/20221006011956_iISLG/png);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl4 respon2 text-dark">
                                Get Discounts
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="800">
                            <h2 class="ltext-201 cl4 p-t-19 p-b-43 respon1">
                                Be Our Regular Member
                            </h2>
                        </div>
                        @*<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                        <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                        Explore
                        </a>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(https://www.vafb.com/Portals/FBA/images/membership-at-work/benefit-budget-full.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl4 respon2 text-dark">
                                Cars You want
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="800">
                            <h2 class="ltext-201 cl4 p-t-19 p-b-43 respon1">
                                For Renting
                            </h2>
                        </div>
                        @*<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                        <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                        Scroll down for more
                        </a>
                        </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Product -->
<section class="bg0 p-t-23 p-b-140 mt-5">
    <div class="container">
        <div class="p-b-10">
            <h4 class="ltext-103 cl5 text-dark ">
                Our Cars
            </h4>

            <form asp-action="PostIndex" id="PostIndexForm">
                <div class="row mt-5 mb-4">
                    <div class="bor17 col-4 mx-3">
                        <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="searchBarValue" placeholder="Search by Car Model | Car Name" value="@ViewBag.searchBarValue" />

                        <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04" type="submit" MaintainScrollPositionOnPostBack="true;">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>


                    <div class="col">
                        <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04  js-show-filter col-3 float-right">
                            <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                            <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                            Filter
                        </div>


                    </div>


                    <!-- Filter -->
                    <div class="dis-none panel-filter w-full p-t-10">
                        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                            <div class="filter-col1 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    <i class="zmdi zmdi-long-arrow-up"></i>
                                    <i class="zmdi zmdi-long-arrow-down"></i>
                                    Sort By
                                </div>

                                <ul>
                                    <li class="p-b-6" onclick="changePrice('pa')">
                                        <a class="@(ViewBag.sortingOrderCol == "all" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04 text-secondary")">
                                            Price: Low to High
                                        </a>
                                    </li>

                                    <li class="p-b-6" onclick="changePrice('pd')">
                                        <a class="@(ViewBag.sortingOrderCol == "all" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04 text-secondary")">
                                            Price: High to Low
                                        </a>
                                    </li>
                                    <input type="hidden" id="sortingOrderCol" name="sortingOrderCol" value="@ViewBag.sortingOrderCol" />
                                </ul>
                            </div>

                            <div class="filter-col2 p-r-15 p-b-27 mx-4">
                                <div class="mtext-102 cl2 p-b-15">
                                    CARS Availibility
                                </div>

                                <ul>
                                    <li class="p-b-6" onclick="changeAvailability('all')">
                                        <a class="@(ViewBag.stockAvailability == "all" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04 text-secondary")">
                                            All
                                        </a>
                                    </li>

                                    <li class="p-b-6" onclick="changeAvailability('available')">
                                        <a class="@(ViewBag.stockAvailability == "available" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04 text-secondary")">
                                            Available
                                        </a>
                                    </li>

                                    <li class="p-b-6" onclick="changeAvailability('outOfStock')">
                                        <a class="@(ViewBag.stockAvailability == "outOfStock" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04 text-secondary")">
                                            Not Available
                                        </a>
                                    </li>

                                    <input type="hidden" id="stockAvailability" name="stockAvailability" value="@ViewBag.stockAvailability" />

                                </ul>
                            </div>



                        </div>
                    </div>
                </div>


                <div class="row isotope-grid mt-5">
                    @foreach (var car in Model)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img class="product-img" src="@car.CarImage" alt="IMG-PRODUCT">
                                    <div class="example-overlay">
                                        @if (car.isAvailable == true)
                                        {
                                            if (car.isRented == true)
                                            {
                                                <h5>
                                                    <span class="badge badge-danger my-2 mr-2">Currently Rented</span>
                                                </h5>
                                            }
                                            else
                                            {
                                                <h5>
                                                    <span class="badge badge-warning my-2 mr-2">Currently Available</span>
                                                </h5>
                                            }
                                        }

                                        else
                                        {
                                            <h5>
                                                <span class="badge badge-success my-2 mr-2">Comming Soon</span>
                                            </h5>
                                        }

                                    </div>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="@Url.Action("CarDetailPage", "Home", new{ id = car.Id})" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            @car.CarName
                                        </a>

                                        <span class="stext-118 cl3 trans-04 js-name-b2 p-b-6">
                                            Car Brand: @Html.DisplayFor(modelItem => car.CarBrand)
                                        </span>

                                        <span class="stext-118 cl3 trans-04 js-name-b2 p-b-6">
                                            Car Model: @car.CarModel
                                        </span>


                                        <span class="stext-118 cl3 trans-04 js-name-b2 p-b-6">
                                            Car Number: @car.CarNumber
                                        </span>

                                        <span class="stext-105 cl3">
                                            Rent Price: NRS. @car.RentPrice
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </form>

            <!-- Load more -->
            <div class="btn-back-to-top" id="myBtn">
                <span class="symbol-btn-back-to-top">
                    <i class="zmdi zmdi-chevron-up"></i>
                </span>
            </div>
        </div>
        </div>
</section>
